//字体定义规范
$font-size-small-s =10px
$font-size-small =12px
$font-size-medium =14px
$font-size-medium-x =16px
$font-size-large =18px
$font-size-large-x =22px
$font-weight-blod = 550

//颜色定义规范
$color-text = #000
$color-text-f = #fff
$color-banckground-is = #C40D0D
$color-banckground-no = #5983A4

//间距
$margin-top = 40px
$margin-top-max = 100px

//按钮
isbtn()
  width:40%
  padding:8px
  margin-top:$margin-top
  background:$color-banckground-is
  margin-left:28%
  text-align: center

nobtn()
  width:40%
  padding:8px
  margin-top:$margin-top
  background:$color-banckground-no
  margin-left:28%
  text-align: center
  font-size:$font-size-large
  color:$color-text-f
